p{
    margin: 0;
}
.fondoParcheado{
    background: var(--Alabaster);
}
.main-container{
    padding-top: 75px;
    height: 100%;
    width: auto;
    background-color: var(--Alabaster);
}
.container-find{
    display: flex;
    justify-content: space-between;
}
.margin-largo{
    margin-bottom: 55.3333px;
}
.margin-corto{
    margin-bottom: 12px;
}
.logo{
    width: 10px;
    height: 10px;
    color: var(--onyx);
}
.logo-search{
    background-image: url(https://www.flaticon.com/free-icon-font/search_3917026?page=1&position=4&term=search&origin=search&related_id=3917026);
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter{
    height: auto;
    width: auto;
    margin-left: 5%;
}
.input-interno{
    border: none;
}
.img{
    width: 100%;
    height: auto;
}
.img-cantina{
    border-radius: 20px;
}
.picture-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    margin-top: 12px;
}
.title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.title h1{
    font-size: var(--lg);
    font-weight: bold;
}
.title span{
    font-size: var(--sm);
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    gap: 26px;
    place-content: center;
    margin-top: 24px;
}
.product-card{
    width: 130px;
    background-color: var(--antiFlashWhite);
    border-radius: 15px 50px;
}
.product-container-img picture{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.product-img{
    width: inherit;
    height: 105px;
    border-radius: 20px;
    object-fit: cover;
}
.product-container-cart{
    position: relative;
    left: 101px;
    bottom: 2px;
    width: 28px;
    height: 22px;
    border-radius: 25px;
    border: 1px solid var(--onyx);
    background-color: var(--hunyadiYellow);
}
.product-cart{
    width: 18px;
    height: 18px;
    color: var(--onyx);
    position: relative;
    top: 2px;
    left: 5px;
}
.product-info {
    padding: 2px;
}
.product-price{
    font-size: var(--sm);
    font-weight: 800;
}
.product-name{
    font-size: var(--md);
}

@media (min-width: 1024px) {
    .fondoParcheado{
        background: linear-gradient(
            to right,
            var(--platinum) 0%,
            var(--platinum) 50%,
            var(--Alabaster) 50%,
            var(--Alabaster) 100%
        );
    }
    div.main-container{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding: 0 !important;
    }
    .primary-container{
        background-color: var(--platinum);
        width: 45vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-find{
        width: 355px;
    }
    .secondary-container{
        width: 55vw;
        height: 100%;
        padding-top: 32px;
    }
    div.title{
        justify-content: space-around;
    }
    picture.picture-center{
        padding: 0 48px;

    }
}