@media (min-width: 1024px){
    :root {
        --hunyadiYellow: #EDAE49;
        --onyx: #313638;
        --Alabaster: #E8E9EB;
        --antiFlashWhite: #EEEEEE ;
        --platinum: #D9D9D9;
        --sandyBrown: #F19953;
        --cafeNoir: #56351E;
        --asparagus: #6A9F56;
        --celadon: #ACD8AA;
        --vermilion: #E93835;
        --blush: #E0677F;
        --lapisLazulli: #2660A4;
        --sm: .8em;
        --md: 1.2em;
        --lg: 1.6em;
    }

    #desktopMenu{
        display: flex;
        flex-direction: row;
    }
    #desktopMenu li a{
        font-size: var(--md);
        color: white;
    }
}