.container-miCarrito{
    height: 100vh;
    background-color: var(--Alabaster);
}

hr{
    opacity: 1;
}

.boton-eliminar{
    font-size: 12px;
    height: 20px;
}

.fontSize-card{
    font-size: 15px;
    font-weight: 400px
}

.imagen-trash{
    padding-bottom: 2px;
}

.container-cantidad{
    height: 20px;
}

.card{
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    background-color: var(--antiFlashWhite);
    width: 300px;
}


.precio, .precio-total{
    font-weight: 600;
}

.subtotal{
    margin-right: 12px !important;
}

.cantidad{
    background-color: var(--Alabaster);
    width: 18px;
    height: 18px;
    font-size: 13px;
}

.titulos-principal{
    font-weight: 600;
}

.total-a-pagar{
    width: auto;
    height: 60px;
    background-color: var(--Alabaster);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bg-button{
    background-color: var(--lapisLazulli);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

@media (min-width: 1000px){
    .container-miCarrito{
        background-color: #CCCCCC;
    }

    .container-carrito{
        height: auto;
        width: 75%;
        padding: 40px;
        background-color: var(--antiFlashWhite);
        border-radius: 10px;
        height: auto;
    }

    .card{
        width: 100%;
    }

    .container-totalMasIrAPagar{
        width: 40%;
        float: right;
    }

    .total-a-pagar{
        margin-top: 0px !important;
    }

    .subtotal{
        margin-right: 0px !important;
    }

    hr{
        color: #CCCCCC;
    }

    .invisible{
        visibility: visible !important;
    }
}
