.container-verCtaCte{
    padding-top: 75px;
    height: 100vh;
    background-color: var(--Alabaster) !important;
}

.container-balance{
    background-color: var(--vermilion); /* este color cambia según la cantidad de plata debiendo */
}

.container-balance-wallet{
    color: #000;
}

.container-balance-spanWallet{
    width: auto;
}

.container-balance-precio{
    font-weight: 600;
}

.container-infoPedido-NroPedido, .container-infoPedido-Fecha, .container-infoPedido-Subtotal{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.container-infoPedido-hr{
    color: #000000 !important;
    /* width: 95% !important; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.container-pedidos-NroPedido, .container-pedidos-Fecha, .container-pedidos-Subtotal{
    font-size: 13px;
}

.container-pedidos-fila{
    background-color: #EEAAB9; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}


@media (min-width: 1000px){
    .container-verCtaCte{
        background-color: #CCCCCC !important;
    }

    .containerMain-verCtaCte{
        width: 80% !important;
        height: auto;
        padding: 8px;
        margin: 20px auto;
        background-color: var(--antiFlashWhite) !important;
        border-radius: 10px;
    }

}