*{
    font-family: 'Poppins', sans-serif;
}

.container-formCambiarPassword{
    height: 100vh;
    background-color: var(--antiFlashWhite);
}

.container-main-cambiarPassword{
    max-width: 330px;
}

:root {
    --hunyadiYellow: #EDAE49;
    --onyx: #313638;
    --Alabaster: #E0DFD5;
    --antiFlashWhite: #E8E9EB ;
    --sandyBrown: #F19953;
    --cafeNoir: #56351E;
    --asparagus: #6A9F56;
    --celadon: #ACD8AA;
    --vermilion: #E93835;
    --blush: #E0677F;
    --lapisLazulli: #2660A4;
    --sm: .8em;
    --md: 1.2em;
    --lg: 1.6em;
}

.title-form{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.form-control:focus {
    border-color:rgba(100,100,100,1)!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    background-color: var(--antiFlashWhite);
}

.no-border{
    border: 0px;
    border-bottom: 1px #000 solid;
    border-radius: 0px;
    background-color: var(--antiFlashWhite);
}

.label-inputs{
    font-family: 'Inter', sans-serif;
}

.bg-button{
    background-color: var(--lapisLazulli);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

@media (min-width: 1000px){
    .container-main-cambiarPassword{
        width: 600px;
        max-width: 1200px;
    }
}
