{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <div class="fondoParcheado">

    <div class="container pe-5 ps-5 main-container">
  
      <!-- Parte de la búsqueda y la imagen de la cantina -->
      <div class="primary-container">
        <div id="containerFind" class="container-find margin-largo">
          <div class="form-control search">
            <span type="submit">
              <img src="{% static 'images/find.png' %}" alt="" class="logo logo-search">
            </span>
            <input class="form-control me-2 input-interno" type="search" placeholder="Buscar Producto" aria-label="Search">
          </div>
          <div class="form-control filter" id="filter-options">
            <a href="#">
                <img src="{% static 'images/setting.png' %}" alt="" class="logo logo-filter">
            </a>
          </div>
        </div>
        <div id="filter-form" class="inactive container-filter">
          <form method="get" action="{% url 'consultarProductos' %}">
            {{ form.as_p }}
            <button type="submit">Filtrar</button>
          </form>
        </div>
        <picture class="picture-center margin-largo">
          <img src="{% static 'images/cantina.jpg' %}" alt="" class="img img-fluid img-cantina">
        </picture>
      </div>
  
      <!-- Parte de la lista de productos -->
      <div class="secondary-container" id="product-list-container">
        <div class="title">
          <h1>Comidas Populares</h1>
          <span>Ver todo</span>
        </div>
  
        <section class="container">
          <div class="cards-container">
            {% for producto in productos_disponibles %}
              <div class="product-card">
                <div class="product-info">
                  <p class="product-name">{{ producto.nombre }}</p>
                  <p class="product-price">${{ producto.precioUnitario }}</p>
                </div>
                <div class="product-container-img">
                  <picture>
                    <img src="{{ producto.imagenURL }}" alt="{{ producto.nombre }}" class="product-img">
                  </picture>
                  <div class="product-container-cart">
                    <a href=""><img src="{% static 'images/shopping-cart-add.png' %}" alt="" class="product-cart"></a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>
      </div>
  
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{% static 'js/findProducto.js' %} " defer></script>
  <script src="{% static 'js/filterProductos.js' %} " defer></script>
{% endblock %}
