
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .cvu-container, #areasSelect {
      display: none;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #edae49;">
      <a class="navbar-brand" href="#">
        <img src="images\logo_horizontal_blanco_utn.png" alt="Logo" style="max-width: 150px; height: auto;">
      </a>
    </nav>
  </header>
  <div class="global-conteiner" style="height: 90vh; background-color: #E8E9EB;">
    <div class="container m-auto pt-3">
      <div class="progress" style="width: 90%; height: 20px; flex-shrink: 0; background-color: #727272; border-radius: 25px; border: 2px solid #727272;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 33%; height: auto; background-color: #ACD8AA; border-radius: 25px;"></div>
      </div>
    </div>
    <div class="detalleEntrega m-auto pt-3">
      <h3 style="color: #F09042; font-size: 18px; font-style:normal;font-weight: 700 ; padding-left: 35px; padding-bottom: 10px;">Detalle de Pago</h3>
      <p style="color: #8F8F8F; font-size: 12px; font-style: normal; font-weight: 500; line-height: normal; padding-left: 36px; padding-top: 15px;">Métodos de Pago</p>
      <form style="width: 80%; margin-left: 35px;">
        <select id="tipoCuenta" name="tipoCuenta" class="control-form" style="width: 100%; height: 45px; margin-top: 5px; border-radius: 3px; border: 1px solid #000; padding: 0 16px;" onchange="mostrarOcultar()">
          <option value="#">Seleccione una Opción...</option>
          <option value="transferencia">Transferencia</option>
          <option value="cuentaCorriente">Cuenta Corriente</option>
        </select>

        <div id="cvuContainer" class="cvu-container" style="margin-top: 5%;">
          <label for="cvu">
            <p>CVU: 123124354355653476</p>
          </label>
        </div>

        <div id="areasSelect" class="cvu-container" style="margin-top: 5%;">
          <label for="areas">Seleccione un área:</label>
          <select id="areas" name="areas">
            <option value="CICOM">CICOM</option>
            <option value="TICS">TICS</option>
          </select>
        </div>
      </form>

      <h3 style="color: #F09042; font-size: 18px; font-style:normal;font-weight: 700 ; padding-left: 35px; padding-top: 0%; margin-top: 35px;position: absolute; bottom: 190px;">Tu pedido</h3>
      <div class="importeTotal" style="width: 80%; height: 45px; margin-left: 35px;padding: 2%; border-radius: 3px; border: 1px solid #000; display: flex; justify-content: space-between; align-items: center; position: absolute; bottom: 140px;">
        <p style="margin: 0; line-height: 1;">Total</p>
        <p style="margin: 0; line-height: 1;">$902.66</p>
      </div>
      <button id="continuarBtn" class="btn btn-primary" type="button" style="color: #FFF; background-color: #2660A4; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; width: 80%; margin-left: 35px; position: absolute; bottom: 100px ; border-radius: 30px;" onclick="irADetalleEntrega()">Continuar</button>
      <button class="btn btn-primary" type="submit" style="color: #FFF; background-color: #E93835; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; width: 80%; margin-left: 35px; position: absolute; bottom: 60px ; border-radius: 30px;">Cancelar</button>
    </div>
  </div>

  <!-- Bootstrap JS y dependencias  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function mostrarOcultar() {
      var tipoCuenta = document.getElementById("tipoCuenta");
      var cvuContainer = document.getElementById("cvuContainer");
      var areasSelect = document.getElementById("areasSelect");

      if (tipoCuenta.value === "transferencia") {
        cvuContainer.style.display = "block";
        areasSelect.style.display = "none";
      } else if (tipoCuenta.value === "cuentaCorriente") {
        cvuContainer.style.display = "none";
        areasSelect.style.display = "block";
      } else {
        cvuContainer.style.display = "none";
        areasSelect.style.display = "none";
      }
    }

    function irADetalleEntrega() {
      window.location.href = "{% url 'detalledeEntrega' %}";
    }
  </script>
</body>
</html>
