{% extends 'base.html' %}

{% block content %}
  <main class="form-signin m-auto fondoGris">
    <form method="post" class="mt-5 mb-5 ms-4 me-4">
      {% csrf_token %}
      <ul class="list-inline text-center mb-4">
          <li class="h1 list-item mx-0 tituloCantina">Entrar a Cantina</li>
          <li class="h1 list-item ms-0 tituloCantina">UTN FRVM</li>
      </ul>
      {{ form.username.label_tag }}
      <div class="mb-3">
          <div class="container input-group bordesInputs">
              <span class="input-group-text inputLogin" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
              {{ form.username }}
          </div>
      </div>
      {{ form.password.label_tag }}
      <div class="mb-3">
          <div class="container input-group bordesInputs">
              <span class="input-group-text inputLogin" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              {{ form.password }}
          </div>
      </div>
      <div class="d-grid ms-4 me-4 mx-auto">
          <button type="submit" class="btn btn-primary bordesInputs border-dark botonIngresar text-light rounded-4 pt-1 pb-1">Ingresar</button>
      </div>
      <div class="mb-3 text-center mt-3">
          <p class="textoCambioPassword"><a href="{% url 'password_reset' %}">Cambiar contraseña</a></p>
      </div>
    </form>
  </main>
{% endblock %}
