{% extends 'base.html' %}
{% block content %}
  {% load static %}

  <div class="container-formCambiarPassword d-flex align-items-center h-100">
    <main class="form-signin m-auto container-main-cambiarPassword">
        <form method="post" action="{% url 'password_reset' %}" class="mt-5">
            {% csrf_token %}
            <a href="{% url 'login' %}"><img class="mb-3" src="../static/images/return 1.svg" alt=""></a>
            <div class="mb-3">
              <label class="title-form">Cambiar Contraseña</label>
            </div>
            <img src="../static/images/undraw_warning_re_eoyh 1.svg" alt="" width="188" height="150" class="mb-4 mx-auto d-block">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label label-inputs h5">Contraseña actual</label>
                <input type="password" name="current_password" class="form-control no-border" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label label-inputs h5">Nueva contraseña</label>
                <input type="password" name="new_password" class="form-control no-border" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label label-inputs h5">Confirmar nueva contraseña</label>
                <input type="password" name="confirm_new_password" class="form-control no-border" id="exampleInputPassword1">
              </div>
              <div class="d-grid mx-auto">
                <a href="{% url 'resetPassword2' %}" type="submit" class="btn btn-primary border-dark text-light rounded-4 pt-1 pb-1 bg-button btn-lg">Continuar</a>
              </div>
        </form>
    </main>
  </div>
{% endblock %}