{% extends 'base.html' %}
{% block content %}
  {% load static %}
    <div class="container-cambiarPassword2 d-flex align-items-center h-100">
        <main class="containerMain-cambiarPassword m-auto">
            <div class="text-center">
                <img src="../static/images/undraw_happy_feeling_re_e76r 1.svg" alt="" width="242" height="150" class="mb-4 mx-auto d-block imagen">
                <p class="p-0 m-0 tituloContainer">Contraseña reestablecida</p>
                <div class="container">
                    <p class="p-0 subtituloContainer">Su contraseña se ha reestablecido con éxito</p>
                </div>
                <div class="d-grid mx-auto mt-4">
                    <a href="{% url 'login' %}" type="submit" class="mx-auto btn btn-light border-dark rounded pt-1 pb-1 btn-volverMenu">Volver al menu</a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}