{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <div class="container-main-revision global-conteiner">
      <div class="container pt-3">
          <div class="container-revision progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated
              progress-bar-color" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
      </div>
      <h3 class="megaTitle-revision">Revision de tu pedido</h3>
      <div class="container-detalle-revision m-auto pt-3">
        <div class="container-content-revision">
            <div class="detalle-revision">
                  <p class="text-revision title-revision">Tu pedido</p>
                  <div class="detalle-subtitle">
                      <p class="text-revision subtitle-revision">8 Items</p> 
                      <p class="text-revision subtitle-revision" id="totalPlaceholder"></p> 
                  </div>
            </div>
      
            <div class="detalle-revision">
                  <p class="text-revision title-revision">Area de entrega</p>
                  <p class="text-revision subtitle-revision">Coworking</p> 
            </div>
      
            <div class="detalle-revision">
                  <p class="text-revision title-revision">Metodo de pago</p>
                  <p class="text-revision subtitle-revision">Cuenta Corriente</p> 
            </div>
        </div>

        <div class="container-buttons">
            <a href="{% url 'detallePagoFinal' %}" class="btn btn-revisionPedido btn-finalizar" type="submit">Finalizar</a>
            <a href="{% url 'detalleDeEntregaYPago' %}" class="btn btn-revisionPedido" type="submit">Volver</a>
        </div>

      </div>
  </div>
  <script>
      $(document).ready(function() {
          // Hacer una solicitud al servidor para obtener el total
          $.ajax({
              url: '/calcular_total/', // Reemplaza con la URL correcta de tu aplicación
              type: 'GET',
              success: function(data) {
                  // Verifica si se recibió un total válido
                  if ('total' in data) {
                      // Actualizar el contenido del totalPlaceholder con el nuevo total
                      $('#totalPlaceholder').text(data.total);
                  } else {
                      console.log('Respuesta inesperada del servidor:', data);
                  }
              },
              error: function(error) {
                  console.log('Error al obtener el total:', error);
              }
          });
      });
  </script>
{% endblock %}
