{% extends 'base.html' %}
{% block content %}
  {% load static %}
    <div class="container-verCtaCte">
        <main class="containerMain-verCtaCte">
            <div class="row pt-2 pb-2 my-3 container-balance">
                <div class="row pe-0">
                     <div class="col d-flex pe-0 justify-content-center">
                        <span class=""><img class="container-balance-wallet" src="images/wallet.svg" height="12" alt=""></span><p class="mb-1 text-light ps-1">Cuenta corriente</p>
                    </div>
                </div>
                <div class="row pe-0 text-center">
                    <p class="pe-0 mb-0 text-light container-balance-precio">$920,66</p>
                </div>
            </div>
            <div class="container container-infoPedido">
                <div class="row mx-2">
                    <div class="col ps-2">
                        <p class="container-infoPedido-NroPedido">Nro Pedido</p>
                    </div>
                    <div class="col">
                        <p class="container-infoPedido-Fecha text-center">Fecha</p>
                    </div>
                    <div class="col pe-2">
                        <p class="container-infoPedido-Subtotal text-end">Subtotal</p>
                    </div>
                    <div class="ps-2 pe-">
                        <hr class="container-infoPedido-hr text-black opacity-100 px-3 mx-auto mb-2 my-0">
                    </div>
                </div>
            </div>
            <div class="container container-pedidos py-1 px-0 mb-1">
                <div class="row py-1 px-1 mx-4 container-pedidos-fila rounded-pill">
                    <div class="col">
                        <p class="container-pedidos-NroPedido mb-0">25043</p>
                    </div>
                    <div class="col">
                        <p class="container-pedidos-Fecha mb-0 text-center">10/02/23</p>
                    </div>
                    <div class="col">
                        <p class="container-pedidos-Subtotal mb-0 text-end">$920,66</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}